.MainSNS {
    width: 85%;
    height: 600px;
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 0;
    margin: 20px auto;

    .feed-left {
        width: 100%;
        height: 100%;
        border: solid 0px rgb(48, 48, 48);
        background-color: black;
        .pic {
            img {
                margin: auto 0;
                height: 100%;
                width: 100%;
                max-width: 100%;
                max-height: 600px;
            }
        }
    }

    .feed-right {
        // position: inherit;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border: solid 0.5px rgb(235, 235, 235);
        background-color: white;
        .user {
            height: 60px;
            border-bottom: solid 0.5px rgb(235, 235, 235);
            .profile {
                width: 70px;
                position: relative;
                top: 13px;
                margin-left: 10px;
                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 20px;
                    border: solid 1px rgba(133, 133, 133, 0.281);
                }
            }
            .id {
                width: 70%;
                position: relative;
                left: 75px;
                top: -22px;
                // margin-top: -11px;
            }
        }

        .content {
            height: 450px;
            overflow: auto;
            .post{
                // background-color: #00ffaa10;
            }
            .post,
            .comment {
                .profile {
                    width: 70px;
                    position: relative;
                    top: 7px;
                    margin-left: 10px;
                    img {
                        width: 40px;
                        height: 40px;
                        border-radius: 20px;
                        border: solid 1px rgba(133, 133, 133, 0.281);
                    }
                }
                .te {
                    width: 70%;
                    position: relative;
                    left: 75px;
                    top: -33px;
                    .text {
                        word-break: break-all;
                        margin: 0;
                    }
                }
                .spot{
                    width: 100%;
                    height: 30px;
                    padding-left: 75px;
                    margin-bottom: 0;
                    position: relative;
                    top: -25px;
                    transition: color .5s;
                    img{
                        width: 20px;
                        display: inline-block;
                        filter: invert(75%);
                        position: relative;
                        top: -3px;
                    }
                    p{
                        display: inline-block;
                        color: #797878;
                    }
                }
                .spot:hover{
                    color: #00ffaa
                }
            }
        }

        .like {
            position: relative;
            bottom: 1px;
            height: 40px;
            width: 100%;
            // float: left;
            border-top: solid 0.5px rgb(235, 235, 235);
            border-bottom: solid 0.5px rgb(235, 235, 235);
            .like-heart {
                // width: 30px;
                height: 30px;
                margin: 0;
                .like {
                    font-size: 25px;
                    margin: 0 10px;
                    color: #00ffaa;
                    .num {
                        color: black;
                        margin-left: 10px;
                        position: relative;
                        top: -3px;
                        font-size: 15px;
                        font-weight: bold;
                    }
                }
            }
        }

        .mk-comment {
            position: relative;
            // bottom: -38px;
            height: 50px;
            width: 100%;
            // border-top: solid 0.5px rgb(235, 235, 235);
            textarea {
                overflow: auto;
                height: 100%;
                width: 80%;
                position: relative;
                // top: -39px;
                padding-left: 10px;
                padding-right: 10px;
                border: 0;
                resize: none;
                border-right: solid 0.5px rgb(235, 235, 235);
            }
            textarea::placeholder {
                padding-top: 11px;
                color: rgb(100, 100, 100);
            }
            textarea:focus {
                outline: none;
            }
            button {
                width: 20%;
                position: relative;
                top: -21px;
                background: none;
                border: 0;
                padding: 0;
                cursor: pointer;
            }
        }
    }
}
