.container {
  .grid {
    position: relative;
    clear: both;
    margin: 0 auto;
    padding: 1em 0 4em;
    max-width: 1000px;
    list-style: none;
    text-align: center;
  }

  /* Common style */
  .grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    /* width:630px;
  height:400px; */
    text-align: center;
    cursor: pointer;
    background-position: center center;
  }

  .grid figure img {
    position: relative;
    display: block;
    opacity: 0.8;
    overflow: hidden;
    background-position: center center;
  }

  .grid figure figcaption {
    padding: 2em 0 0 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
  }

  .grid figure figcaption::before,
  .grid figure figcaption::after {
    pointer-events: none;
  }

  .grid figure figcaption,
  .grid figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  /* Anchor will cover the whole item by default */
  .grid figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
  }

  .grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
  }

  .grid figure h2 span {
    font-weight: 800;
  }

  .grid figure h2,
  .grid figure p {
    margin: 0;
  }

  .grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
  }

  figure.effect-kira {
    background: rgb(65, 60, 60);
    text-align: left;
  }

  figure.effect-kira img {
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
  }

  figure.effect-kira figcaption {
    z-index: 1;
  }

  figure.effect-kira p {
    padding: 2.25em 0.5em;
    font-weight: 600;
    font-size: 100%;
    line-height: 1.5;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  figure.effect-kira p {
    margin: 0 0.5em;
    color: #101010;
  }

  figure.effect-kira p a {
    margin: 0 0.5em;
    color: #101010;
  }

  figure.effect-kira p a:hover,
  figure.effect-kira p a:focus {
    opacity: 0.6;
  }

  figure.effect-kira figcaption::before {
    position: absolute;
    top: 0;
    right: 2em;
    left: 2em;
    z-index: -1;
    height: 3.5em;
    background: #fff;
    content: "";
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0, 4em, 0) scale3d(1, 0.023, 1);
    transform: translate3d(0, 4em, 0) scale3d(1, 0.023, 1);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
  }

  figure.effect-kira:hover img {
    opacity: 0.5;
  }

  figure.effect-kira:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  figure.effect-kira:hover figcaption::before {
    opacity: 0.7;
    -webkit-transform: translate3d(0, 5em, 0) scale3d(1, 1, 1);
    transform: translate3d(0, 5em, 0) scale3d(1, 1, 1);
  }
}
