.loginForm {
  margin-top: 200px;

  hr {
    border: 0;
    height: 2px;
    background-color: #00ffaa;
  }

  Button {
    background-color: black;
    color: #00ffaa;
    border: none;
  }

  a {
    color: #2e8b57;
  }
}
