.userInfoContainer {
  margin-top: 80px;

  img,
  #image {
    width: 200px;
    margin-left: 43%;
    margin-bottom: 20px;
  }

  Button {
    margin-left: 42%;
    background-color: black;
    color: #00ffaa;
    border: none;
  }
}
