#feed-detail {
  position: relative;
  margin: auto;
  top: 50px;
  width: 620px;
  height: auto;
  border: 1px solid rgb(210, 210, 210);
  margin-bottom: 50px;

  .user-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  #user-id {
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    font-weight: bold;
    padding-left: 10px;

    #id {
      display: inline-block;
      margin-left: 10px;
    }
  }

  #feed-img {
    width: 100%;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  #feed-inside {
    #content {
      padding: 6px 20px;
      font-size: 16px;
      font-weight: 700;
    }

    #feed-btns {
      width: 100%;
      height: 26px;
      line-height: 26px;
      padding: 0 12px;
      font-size: 24px;
    }

    #likes {
      font-weight: bold;
      padding: 5px 15px;
    }

    #feed-text {
      width: 100%;
      height: auto;
      font-size: 16px;

      padding: 0 15px;
      margin-bottom: 10px;

      ul {
        list-style-type: none;
        margin: auto;
        padding: 0;
        overflow: hidden;

        li {
          padding: 2px 0;
          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
          }

          .id {
            display: inline-block;
            font-weight: bold;
            margin-left: 10px;
          }

          .text {
            display: inline-block;
            margin-left: 10px;
          }
        }
      }
    }

    #make-text {
      width: 100%;
      height: 60px;
      border-top: 1px solid rgb(210, 210, 210);

      input {
        border: none;
        width: 92%;
        padding: 0 20px;

        &:focus {
          outline: none;
        }
      }

      #make {
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        line-height: 60px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
