.Footer{
    width: 80%;
    height: 220px;
    margin: 0 auto;
    background-color: rgb(44, 44, 44);
    color: rgb(201, 201, 201);
    font-family: 'GmarketSansLight';
    font-weight: lighter;
    font-size: 15px;
    line-height: 1.7em;
    padding-top: 80px;
    padding-left: 130px;
    #point{
        font-weight: bolder;
        color: #00ffaa;
    }
}