.userInfoContainer {
    margin-top: 100px;
}

.userAvatar {
    margin-left: 50%;
    margin-bottom: 30px;
}

.submitButton {
    margin-left: 40%;
}

Input::placeholder {
    color: black !important
  }